.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(49, 49, 49, 0.8);
  }

  .modal-content {
    background-color: #fff;
    position: absolute;
    display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .modal-header {
      color: #fff;
      text-align: center;
      padding: 8px 0px;
      font-size: 14px;
      font-weight: bold;
      position: relative;

      .icon {
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
      }
    }
    .modal-footer {
      padding: 8px 12px;
      gap: 8px;
      justify-content: flex-end;

      .link {
        text-decoration: none;
      }
    }
  }
}
