.info {
  .top {
    display: flex;
    justify-content: center;

    background-color: #077c48;
    .info-icon {
      color: white;
      height: 100px;
      width: 100px;
      margin: 24px 0px;
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px 0px;
    height: 100px;

    .sukses {
      font-size: 24px;
      font-weight: bold;
      color: #077c48;
    }

    .sukses-detail {
      font-size: 18px;
      color: #4f4f4f;
      text-align: center;
    }
  }
}
